body {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  color: #1A1F35;
}

h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 2.2rem;
  padding-bottom: 2rem;
}
h1, h2, h3, h4 {
  font-weight: 100;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.4rem;
  }
}

.beacon {
  background-color: #000;
  color: #ffffff;
  padding: 6rem 0;
  text-align: center;
  z-index: 0;
  position: relative;
}
@media (min-width: 768px) {
  .beacon {
    padding: 6rem 4rem 6rem 0;
    text-align: right;
  }
}
.beacon:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background: url("../img/beacon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.prevent {
  background: url("../img/prevent-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .prevent {
    margin: 0 0 0 auto;
  }
}

.story {
  margin: 2rem 0 1rem 0;
}
.story img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  zoom: 2;
}

.timeplace {
  background-color: #3F529E;
  color: #ffffff;
  padding-top: 1rem;
}
.timeplace a {
  color: #ffffff;
  text-decoration: underline;
}

.team {
  background-color: #000;
  color: #ffffff;
  padding: 2rem;
  font-size: 2rem;
  z-index: 0;
  position: relative;
}
.team:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  background-image: url("../img/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.meeting {
  background-color: #000;
  color: #ffffff;
  padding: 4rem 2rem;
  z-index: 0;
  position: relative;
  text-align: center;
}
.meeting:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  background-image: url("../img/meeting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
.meeting a {
  color: #ffffff;
  text-decoration: underline;
}
.meeting h4 {
  margin-bottom: 2rem;
  font-size:
}
