<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="large">We find and invest in inspiring innovations driven by true entrepreneurs. We accelerate the productization for making a global impact. Together with the entrepreneurs we are the ecosystem where great ideas can fly. With the ecosystem the resources will scale to meet the growing demand.</p>
                </div>
            </div>
        </div>
    </section>
