  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-4">
                      <p>Business ID: 2785610-8
                      <br>Place of registration: Oulu, Finland</p>
                  </div>
                  <div class="footer-col col-md-4">
                      <ul class="list-inline social-buttons">
                          {% for network in site.social %}
                          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="footer-col col-md-4">
                        <p>Teknologiantie 11
                        <br>90590 Oulu, Finland</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
              </div>
          </div>
      </div>
  </footer>
