<!-- Services Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio and partners</h2>
                    <h3 class="section-subheading text-muted">Our portfolio companies and partners.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="http://hownetworks.io">
                      <img src="img/hnwlogo.svg" alt="hnw logo link goes to hnw frontpage" height="125" width="125">
                    </a>
                    <h4 class="service-heading">HowNetWorks</h4>
                    <p class="text-muted">Driving net neutrality by empowering people to expose the Internet's inner workings.</p>
                </div>
                <div class="col-md-4">
                    <a href="http://www.sensorfu.com">
                      <img src="img/sensoicon.jpg" alt="sensored logo">
                    </a>
                    <h4 class="service-heading">SensorFu</h4>
                    <p class="text-muted">Seal your security policies with continuous audit sensors</p>
                </div>
                <div class="col-md-4">
                    <a href="http://www.cyblem.com/">
                      <img src="img/cyblemicon.jpg" alt="cyblem logo">
                    </a>
                    <h4 class="service-heading">Cyblem</h4>
                    <p class="text-muted">Ramp-up of nation-wide cyberprotection capabilities.</p>
                </div>
            </div>
        </div>
    </section>
