<!-- Services Section -->
    <section id="stories" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stories</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                  <a href="http://www.hownetworks.io">
                    <img src="img/hnwlogo.svg" alt="hnw logo" height="125" width="125">
                  </a>
                  <h4 class="service-heading">HowNetWorks</h4>
                  <p class="large">"At HowNetWorks we experimented on how to empower netizens to hold on to their net neutrality. We are happy that this experimental spirit kicked off the ScanABC <a href="testdrive/">Security Startup Test Drive</a>. Our tech and people gave birth to two new ScanABC startups where the story now lives on. You can also find the narrative and tech behind our free services from <a href="https://github.com/hownetworks">GitHub</a> and <a href="https://medium.com/hownetworks">Medium</a>." -- Ossi &amp; Jukke, founders</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                  <a href="http://www.cyblem.com/">
                    <img src="img/cyblem.svg" alt="cyblem logo" height="125" width="125">
                  </a>
                  <h4 class="service-heading">Cyblem</h4>
                  <p class="large">"Working alongside Cyblem's team as an investor was extremely valuable, equipping us with deep knowledge and practical tools that now aid us in guiding our portfolio companies through their global market entries. After eight years, we sold our shares back to the team as part of the launch of a new cybersecurity product-oriented company within our portfolio. Cyblem continues to export the Finnish approach to cybersecurity, and we remain committed to supporting their ongoing success.</p>
                </div>
            </div>
        </div>
    </section>
